---
###############################################################################
# Role: components/linux-hardening
# File: tasks/hostname.yml
#
###############################################################################
#- name: Gather EC2 Facts
#  action: ec2_facts
#  register: ec2_facts
#  tags: ec2_facts
#
#- name: Get resource tags from EC2 Facts
#  become: false
#  ec2_tag:
#     resource: "{{ec2_facts.ansible_facts.ansible_ec2_instance_id}}"
#     region: us-east-1
#     state: list
#  register: ec2_tags
#  when: (ansible_distribution == "Red Hat Enterprise Linux") or
#        (ansible_distribution == "Debian") or
#        (ansible_distribution == "CentOS") or
#        (ansible_distribution == "Ubuntu") or
#        (ansible_distribution == "Amazon") or
#        (ansible_distribution == "OracleLinux")
#  tags: ec2_facts
#
#- debug: msg=" {{ ec2_tags.tags.Name }}"
#  when: ec2_tags
#  tags: ec2_facts
#
#- name: Set the Hostname to the Name tag
#  hostname: name="{{ ec2_tags.tags.Name }}"
#  when: ec2_tags
#  tags: set_hostname